/* ### Primary */
/* ### Neutral */
/* ### Font */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  background-color: #f5f6fa;
}

body button {
  font-size: 1.6rem;
  font-weight: 700;
}

body textarea {
  vertical-align: baseline;
  font-size: 1.6rem;
  color: #7e828a;
}

body input {
  width: 75%;
  margin: auto;
  padding: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.534);
  border-radius: .6rem;
  outline: none;
}

div.content {
  width: 80%;
  margin: auto;
}

div.content.login {
  width: 100%;
}

div.content.login .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flex-center, .apresentation .header-profile, .apresentation .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.flex-secondary, .identification, .apresentation .header-profile, .apresentation .header, .score, .edit-delete, .edit-delete .delete, .edit-delete .edit, .apresentation .header .reply, .modal-image .image, .modal-image .identification, .title .image, .title .identification, #login .update-pass, .modal-register, .modal-register .register-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
}

.box-shadow, .modal-center {
  -webkit-box-shadow: 0.9rem 0.9rem 1rem rgba(0, 0, 0, 0.034);
          box-shadow: 0.9rem 0.9rem 1rem rgba(0, 0, 0, 0.034);
}

.modal-center {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.8rem;
  background-color: white;
  width: 95%;
  padding: 2rem 1.5rem;
  border-radius: .6rem;
  display: none;
}

.image .img-user, .identification .img-user, .apresentation .header-profile .img-user, .apresentation .header .img-user {
  width: 5%;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.identification, .apresentation .header-profile, .apresentation .header {
  gap: 2rem;
}

.identification .name-user, .apresentation .header-profile .name-user, .apresentation .header .name-user {
  font-weight: 500;
}

.identification .timer, .apresentation .header-profile .timer, .apresentation .header .timer {
  color: #67727e;
}

.score {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  background-color: #f5f6fa;
  width: 40%;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1rem;
}

.score img {
  cursor: pointer;
}

.score .score-value {
  font-weight: 500;
  color: #5457b6;
}

.edit-delete {
  gap: 2rem;
}

.edit-delete button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.edit-delete .delete {
  gap: 1rem;
}

.edit-delete .delete button {
  color: #ed6468;
}

.edit-delete .delete button:hover {
  color: #ffb8bb;
}

.edit-delete .edit {
  gap: 1rem;
}

.edit-delete .edit img {
  width: 100%;
}

.edit-delete .edit button {
  color: #5457b6;
}

.edit-delete .edit button:hover {
  color: #c3c4ef;
}

.apresentation {
  width: 95%;
}

.apresentation .header-profile .you {
  background-color: #5457b6;
  padding: .3rem;
  border-radius: .6rem;
  color: white;
  display: block;
}

.apresentation .header .reply {
  gap: 1.2rem;
}

.apresentation .header .reply p {
  color: #5457b6;
  font-weight: 500;
  cursor: pointer;
}

.apresentation .header .reply p:hover {
  color: #c3c4ef;
}

.content-user p {
  line-height: 2.2rem;
  text-align: justify;
}

.content-user p span {
  color: #5457b6;
  font-weight: 500;
}

.modal-image .image, .modal-image .identification, .modal-image .apresentation .header-profile, .apresentation .modal-image .header-profile, .modal-image .apresentation .header, .apresentation .modal-image .header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  width: 10%;
}

.modal-image .image img, .modal-image .identification img, .modal-image .apresentation .header-profile img, .apresentation .modal-image .header-profile img, .modal-image .apresentation .header img, .apresentation .modal-image .header img {
  width: 100%;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.modal-image .form-reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.modal-image .form-reply .post-referencie {
  width: 85%;
}

.modal-image .form-reply .post-referencie p {
  padding-bottom: .7rem;
  font-size: 1.4rem;
  color: #67727e;
}

.modal-image .form-reply .post-referencie form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: .6rem;
  border: .1rem solid #eaecf1;
  resize: none;
  outline: none;
}

.modal-image .form-reply button {
  margin-top: 2.4rem;
  padding: 1.2rem;
  border-radius: .6rem;
  border: none;
  background-color: #5457b6;
  color: white;
  cursor: pointer;
}

.modal-image .form-reply button:hover {
  background-color: #c3c4ef;
}

main.log {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-auto-rows: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title h1 {
  text-align: center;
  font-size: 2.2rem;
  color: #5457b6;
}

.title .image, .title .identification, .title .apresentation .header-profile, .apresentation .title .header-profile, .title .apresentation .header, .apresentation .title .header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* -------------------------------
 *Login-form
 */
.form {
  background-color: white;
  margin: auto;
  padding: 1.3rem;
  width: 60%;
  border-radius: .8rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.253);
          box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.253);
}

#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

#login input {
  width: 100%;
  padding: 1.7rem;
  border: .1rem solid #DDDFE2;
  color: #90949C;
  font-size: 1.6rem;
}

#login button {
  margin-top: 1rem;
  width: 100%;
  padding: 1.7rem;
  font-size: 2rem;
  border-radius: .6rem;
  border: none;
  background-color: #7169b6;
  color: white;
  cursor: pointer;
}

#login .update-pass {
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login .update-pass a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #5457b6;
}

.line-form {
  height: .1rem;
  width: 100%;
  margin: 2rem 0;
  background-color: #DDDFE2;
}

.create-profile {
  width: 45%;
  margin: auto;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: #166FE5;
  color: white;
  border-radius: .6rem;
  cursor: pointer;
}

.create-profile:hover {
  background-color: #1976f0;
}

@-webkit-keyframes pop {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animate-pop {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-animation: pop 300ms forwards;
          animation: pop 300ms forwards;
}

.back {
  -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
          animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.modal-register {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-register.show {
  opacity: 1;
  visibility: visible;
}

.modal-register .register-content {
  width: 40rem;
  background-color: white;
  border-radius: .6rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem rgba(255, 255, 255, 0.349);
          box-shadow: 0.1rem 0.1rem 0.9rem rgba(255, 255, 255, 0.349);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding-top: 1rem;
}

.modal-register .register-content .title-register {
  width: 100%;
  position: relative;
}

.modal-register .register-content .title-register h1 {
  font-size: 3.2rem;
  line-height: 2.6rem;
  text-align: center;
}

.modal-register .register-content .title-register h1 span {
  font-size: 1.6rem;
  color: #67727e;
}

.modal-register .register-content .title-register .modal-close {
  position: absolute;
  top: 10%;
  right: 6%;
  cursor: pointer;
}

.modal-register .register-content .form-register {
  width: 100%;
}

.modal-register .register-content .form-register #register {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.modal-register .register-content .form-register #register .input {
  margin: auto;
  width: 95%;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
}

.modal-register .register-content .form-register #register .input label {
  color: #67727e;
}

.modal-register .register-content .form-register #register .input input {
  width: 100%;
  padding: 1.3rem;
  border: .1rem solid #DDDFE2;
  color: #90949C;
  font-size: 1.6rem;
}

.modal-register .register-content .form-register #register .input .help {
  font-size: 1.2rem;
  color: #90949C;
  text-align: center;
}

.modal-register .register-content .form-register #register p {
  text-align: center;
  color: #67727e;
}

.modal-register .register-content .form-register #register button {
  width: 30%;
  margin: 0 auto 1rem;
  padding: .8rem;
  border-radius: .6rem;
  border: none;
  background-color: #7169b6;
  color: white;
  cursor: pointer;
}

.modal-register .register-content .form-register #register button:hover {
  background-color: #8480ad;
}

@media (max-width: 1310px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 1173px) {
  .create-profile {
    width: 55%;
  }
}

@media (max-width: 1007px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 835px) {
  html {
    font-size: 53%;
  }
  .title {
    margin: auto;
  }
  .form {
    width: 80%;
  }
}

@media (max-width: 800px) {
  main.log {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-auto-rows: 48vh;
    margin-bottom: 6rem;
  }
  .image img, .identification img, .apresentation .header-profile img, .apresentation .header img {
    width: 95%;
  }
  .title h1 {
    display: none;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 50%;
  }
  .create-profile {
    width: 60%;
  }
  .modal-register .register-content {
    width: 38rem;
  }
}
/*# sourceMappingURL=main-profile.css.map */