/* ### Primary */
/* ### Neutral */
/* ### Font */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  background-color: #f5f6fa;
}

body button {
  font-size: 1.6rem;
  font-weight: 700;
}

body textarea {
  vertical-align: baseline;
  font-size: 1.6rem;
  color: #7e828a;
}

body input {
  width: 75%;
  margin: auto;
  padding: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.534);
  border-radius: .6rem;
  outline: none;
}

div.content {
  width: 80%;
  margin: auto;
}

div.content.login {
  width: 100%;
}

div.content.login .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flex-center, .apresentation .header-profile, .apresentation .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.flex-secondary, .identification, .apresentation .header-profile, .apresentation .header, .score, .edit-delete, .edit-delete .delete, .edit-delete .edit, .apresentation .header .reply, .modal-image .image, .modal-reply .image, .modal-post .image, .modal-image .identification, .modal-reply .identification, .modal-post .identification, .footer-post .image, .footer-post .identification, header .logo a, header .user, .modal-delete, .modal-wrapper, .modal-wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-center, .post, .reply-user, .reply-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
}

.box-shadow, .modal-center, .modal-reply, .modal-post, .footer-post, .post, .reply-user, .reply-profile {
  -webkit-box-shadow: 0.9rem 0.9rem 1rem rgba(0, 0, 0, 0.034);
          box-shadow: 0.9rem 0.9rem 1rem rgba(0, 0, 0, 0.034);
}

.modal-center, .modal-reply, .modal-post {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.8rem;
  background-color: white;
  width: 95%;
  padding: 2rem 1.5rem;
  border-radius: .6rem;
  display: none;
}

.image .img-user, .identification .img-user, .apresentation .header-profile .img-user, .apresentation .header .img-user {
  width: 5%;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.identification, .apresentation .header-profile, .apresentation .header {
  gap: 2rem;
}

.identification .name-user, .apresentation .header-profile .name-user, .apresentation .header .name-user {
  font-weight: 500;
}

.identification .timer, .apresentation .header-profile .timer, .apresentation .header .timer {
  color: #67727e;
}

.score {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  background-color: #f5f6fa;
  width: 40%;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1rem;
}

.score img {
  cursor: pointer;
}

.score .score-value {
  font-weight: 500;
  color: #5457b6;
}

.edit-delete {
  gap: 2rem;
}

.edit-delete button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.edit-delete .delete {
  gap: 1rem;
}

.edit-delete .delete button {
  color: #ed6468;
}

.edit-delete .delete button:hover {
  color: #ffb8bb;
}

.edit-delete .edit {
  gap: 1rem;
}

.edit-delete .edit img {
  width: 100%;
}

.edit-delete .edit button {
  color: #5457b6;
}

.edit-delete .edit button:hover {
  color: #c3c4ef;
}

.apresentation {
  width: 95%;
}

.apresentation .header-profile .you {
  background-color: #5457b6;
  padding: .3rem;
  border-radius: .6rem;
  color: white;
  display: block;
}

.apresentation .header .reply {
  gap: 1.2rem;
}

.apresentation .header .reply p {
  color: #5457b6;
  font-weight: 500;
  cursor: pointer;
}

.apresentation .header .reply p:hover {
  color: #c3c4ef;
}

.content-user p {
  line-height: 2.2rem;
  text-align: justify;
}

.content-user p span {
  color: #5457b6;
  font-weight: 500;
}

.modal-image .image, .modal-reply .image, .modal-post .image, .modal-image .identification, .modal-reply .identification, .modal-post .identification, .modal-image .apresentation .header-profile, .apresentation .modal-image .header-profile, .modal-reply .apresentation .header-profile, .apresentation .modal-reply .header-profile, .modal-post .apresentation .header-profile, .apresentation .modal-post .header-profile, .modal-image .apresentation .header, .apresentation .modal-image .header, .modal-reply .apresentation .header, .apresentation .modal-reply .header, .modal-post .apresentation .header, .apresentation .modal-post .header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  width: 10%;
}

.modal-image .image img, .modal-reply .image img, .modal-post .image img, .modal-image .identification img, .modal-reply .identification img, .modal-post .identification img, .modal-image .apresentation .header-profile img, .apresentation .modal-image .header-profile img, .modal-reply .apresentation .header-profile img, .apresentation .modal-reply .header-profile img, .modal-post .apresentation .header-profile img, .apresentation .modal-post .header-profile img, .modal-image .apresentation .header img, .apresentation .modal-image .header img, .modal-reply .apresentation .header img, .apresentation .modal-reply .header img, .modal-post .apresentation .header img, .apresentation .modal-post .header img {
  width: 100%;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.modal-image .form-reply, .modal-reply .form-reply, .modal-post .form-reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.modal-image .form-reply .post-referencie, .modal-reply .form-reply .post-referencie, .modal-post .form-reply .post-referencie {
  width: 85%;
}

.modal-image .form-reply .post-referencie p, .modal-reply .form-reply .post-referencie p, .modal-post .form-reply .post-referencie p {
  padding-bottom: .7rem;
  font-size: 1.4rem;
  color: #67727e;
}

.modal-image .form-reply .post-referencie form textarea, .modal-reply .form-reply .post-referencie form textarea, .modal-post .form-reply .post-referencie form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: .6rem;
  border: .1rem solid #eaecf1;
  resize: none;
  outline: none;
}

.modal-image .form-reply button, .modal-reply .form-reply button, .modal-post .form-reply button {
  margin-top: 2.4rem;
  padding: 1.2rem;
  border-radius: .6rem;
  border: none;
  background-color: #5457b6;
  color: white;
  cursor: pointer;
}

.modal-image .form-reply button:hover, .modal-reply .form-reply button:hover, .modal-post .form-reply button:hover {
  background-color: #c3c4ef;
}

main.room {
  padding-top: 10rem;
  padding-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#post-content {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
  width: 95%;
  position: relative;
}

#reply .line {
  width: 0.2rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5rem;
  background-color: #eaecf1;
}

.footer-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  background-color: white;
  width: 95%;
  padding: 2rem 0;
  border-radius: .6rem;
}

.footer-post .image, .footer-post .identification, .footer-post .apresentation .header-profile, .apresentation .footer-post .header-profile, .footer-post .apresentation .header, .apresentation .footer-post .header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5rem;
  width: 10%;
}

.footer-post .image img, .footer-post .identification img, .footer-post .apresentation .header-profile img, .apresentation .footer-post .header-profile img, .footer-post .apresentation .header img, .apresentation .footer-post .header img {
  width: 100%;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.footer-post form {
  width: 75%;
}

.footer-post form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: .6rem;
  border: 0.1rem solid #eaecf1;
  resize: none;
  outline: #5457b6;
  vertical-align: baseline;
}

.footer-post button {
  padding: 1.2rem;
  border-radius: .6rem;
  border: none;
  background-color: #5457b6;
  color: white;
  cursor: pointer;
}

.footer-post button.disabled {
  -webkit-filter: contrast(0.6);
          filter: contrast(0.6);
}

header {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background-color: #4f6d8a;
  color: white;
  position: fixed;
  z-index: 2;
}

header .header-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: auto;
}

header .logo a {
  gap: 1rem;
  text-decoration: none;
  color: white;
}

header .user {
  width: 10%;
  gap: 1rem;
}

header .user .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: .5rem;
}

header .user .name p {
  color: white;
}

header .user .name a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

header .user .name a:hover {
  color: #c3c4ef;
}

header .user .image, header .user .identification, header .user .apresentation .header-profile, .apresentation header .user .header-profile, header .user .apresentation .header, .apresentation header .user .header {
  width: 25%;
}

header .user .image .img-user, header .user .identification .img-user, header .user .apresentation .header-profile .img-user, .apresentation header .user .header-profile .img-user, header .user .apresentation .header .img-user, .apresentation header .user .header .img-user {
  width: 100%;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.post {
  background-color: white;
  width: 95%;
  padding: 2rem 0;
  border-radius: .6rem;
}

.reply-user, .reply-profile {
  background-color: white;
  width: 90%;
  padding: 2rem 0;
  border-radius: .6rem;
}

.modal-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-delete.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.modal-wrapper {
  width: 40rem;
  height: 45%;
  background-color: white;
  border-radius: .6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding-top: 3rem;
}

.modal-wrapper .title {
  text-align: center;
}

.modal-wrapper .text {
  width: 90%;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.modal-wrapper .footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-top: 3rem;
}

.modal-wrapper .footer button {
  padding: 1.5rem;
  font-size: 1.8rem;
  width: 42%;
  border-radius: 0.6rem;
  border: none;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem black;
          box-shadow: 0.1rem 0.1rem 0.3rem black;
  color: white;
  cursor: pointer;
}

.modal-wrapper .footer .cancell {
  background-color: #67727e;
}

.modal-wrapper .footer .cancell:hover {
  background-color: #3e5065;
}

.modal-wrapper .footer .delete-post {
  background-color: #ed6468;
}

.modal-wrapper .footer .delete-post:hover {
  background-color: #ca5357;
}

.modal-reply.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-reply.width {
  width: 90%;
}

.modal-post.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.update.hidde {
  display: none;
}

.update form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.update form #update {
  padding: 1rem;
  resize: none;
  outline: none;
  vertical-align: baseline;
  border-radius: .6rem;
  border: .1rem solid #eaecf1;
  color: #90949C;
  font-size: 1.6rem;
  font-weight: 500;
}

.update form .button-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.update form .button-update button {
  width: 15%;
  padding: 1.5rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #5457b6;
  color: white;
  cursor: pointer;
}

.update form .button-update button:hover {
  background-color: #6266d5;
}

.content-user.hidde {
  display: none;
}

@-webkit-keyframes pop {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animate-pop {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-animation: pop 300ms forwards;
          animation: pop 300ms forwards;
}

.back {
  -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
          animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

@media (max-width: 1150px) {
  .footer-post .image, .footer-post .identification, .footer-post .apresentation .header-profile, .apresentation .footer-post .header-profile, .footer-post .apresentation .header, .apresentation .footer-post .header {
    width: 11%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 60%;
  }
  .reply-user, .reply-profile {
    width: 88%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 57%;
  }
}

@media (max-width: 750px) {
  div.content {
    width: 90%;
  }
}

@media (max-width: 641px) {
  html {
    font-size: 55%;
  }
  div.content {
    width: 100%;
  }
  header {
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
  header .header-width {
    width: 90%;
    gap: 4rem;
    margin: initial;
    padding: 0 5rem;
  }
  header .header-width .message p {
    text-align: center;
  }
  header .header-width .user .name {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: .2rem;
  }
  .post {
    display: block;
    width: 95%;
    padding: 2rem;
    margin: auto;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1rem;
  }
  .container .edit-delete {
    gap: 1rem;
  }
  .container .score {
    width: 17%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
    margin: inherit;
  }
  .container .reply {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.2rem;
  }
  .container .reply p {
    color: #5457b6;
    font-weight: 500;
    cursor: pointer;
  }
  .container .reply p:hover {
    color: #c3c4ef;
  }
  .image .img-user, .identification .img-user, .apresentation .header-profile .img-user, .apresentation .header .img-user {
    width: 8%;
  }
  section#reply {
    width: 97.3%;
  }
  section#reply .reply-profile, section#reply .reply-user {
    display: block;
    padding: 2rem;
  }
  .footer-post {
    display: block;
    margin: auto;
  }
  .footer-post .image, .footer-post .identification, .footer-post .apresentation .header-profile, .apresentation .footer-post .header-profile, .footer-post .apresentation .header, .apresentation .footer-post .header {
    width: 8%;
    padding-left: 0;
    margin-left: 2rem;
  }
  .footer-post form {
    width: 95%;
    margin: auto;
  }
  .footer-post button {
    margin-right: 2rem;
  }
  .modal-reply.active, .modal-post.active {
    margin: auto;
    display: block;
  }
  .modal-reply.width, .modal-post.width {
    width: 88%;
    margin: inherit;
  }
  .modal-reply .image, .modal-reply .identification, .modal-reply .apresentation .header-profile, .apresentation .modal-reply .header-profile, .modal-reply .apresentation .header, .apresentation .modal-reply .header, .modal-post .image, .modal-post .identification, .modal-post .apresentation .header-profile, .apresentation .modal-post .header-profile, .modal-post .apresentation .header, .apresentation .modal-post .header {
    width: 15%;
  }
  .modal-reply .form-reply .post-referencie, .modal-post .form-reply .post-referencie {
    width: 100%;
  }
  .modal-reply .container button, .modal-post .container button {
    padding: 1.2rem;
    border-radius: .6rem;
    border: none;
    background-color: #5457b6;
    color: white;
    cursor: pointer;
  }
  .modal-reply .container button:hover, .modal-post .container button:hover {
    background-color: #c3c4ef;
  }
  .update form #update {
    padding: 1rem;
  }
  .update form .button-update button {
    width: 35%;
  }
}

@media (max-width: 565px) {
  html {
    font-size: 53%;
  }
  header .header-width {
    width: 75%;
    padding: 0 1rem;
  }
  header .message {
    display: none;
  }
  #reply .line {
    left: 3rem;
  }
}

@media (max-width: 425px) {
  .modal-wrapper {
    width: 95%;
  }
  .modal-reply .image, .modal-reply .identification, .modal-reply .apresentation .header-profile, .apresentation .modal-reply .header-profile, .modal-reply .apresentation .header, .apresentation .modal-reply .header {
    padding: 0;
    width: 9%;
  }
}

@media (max-width: 375px) {
  .container .score {
    width: 30%;
  }
  .container .edit-delete .edit, .container .edit-delete .delete {
    gap: .5rem;
  }
  #reply .line {
    left: 2.5rem;
  }
  #reply .reply-profile .identification, #reply .reply-profile .apresentation .header-profile, .apresentation #reply .reply-profile .header-profile, #reply .reply-profile .apresentation .header, .apresentation #reply .reply-profile .header {
    gap: .5rem;
  }
  .modal-reply .container button {
    padding: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */