.post {
  @extend .grid-center;

  background-color: $color-white;

  width: 95%;

  padding: 2rem 0;

  border-radius: .6rem;

  @extend .box-shadow;
}

.post-mobile {
  display: none;

  background-color: $color-white;

  border-radius: .6rem;

  @extend .box-shadow;
}

.reply-user, .reply-profile {
  @extend .grid-center;

  background-color: white;

  width: 90%;
  
  padding: 2rem 0;

  border-radius: .6rem;

  @extend .box-shadow;
}

.reply-user-mobile, .reply-profile-mobile {
  display: none;
  
  background-color: white;

  border-radius: .6rem;

  @extend .box-shadow;
}